.body {
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 3em;
  background-color: #b0a4bf;
  padding: 1em;
  padding-bottom: 3em;
  border-radius: 2em;
  border-width: 0;
  text-align: center;
}

.heading {
  color: white;
  font-family: Garamond, "Times New Roman", Times, serif;
  font-size: 2rem;
}

.labels {
  color: rgb(69, 68, 68);
  padding-bottom: 1em;
}

.box {
  background-color: #d6c9f2;
  color: black;
  margin-left: 1em;
  border-radius: 0.35em;
  padding-left: 0.5em;
}

.add-btn {
  background-color: #b35aa4;
  color: #f2f2f2;
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 1em;
  border-color: #f2f2f2;
  border-width: 0.75pt;
  cursor: pointer;
}

#status {
  cursor: pointer;
  color: rgb(69, 68, 68);
}

#synopsis {
  text-align: left;
}

.update-btn {
  background-color: #b35aa4;
  color: #f2f2f2;
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 1em;
  border-color: #f2f2f2;
  border-width: 0.75pt;
  cursor: pointer;
}

.update--btn {
  padding-top: 1em;
}
